[package]
name = "canvas-runtime"
version = "0.1.0"
authors = ["Canvas"]
edition = "2018"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[features]
default = ["std"]
std = [
    "aura/std",
    "balances/std",
    "codec/std",
    "contracts/std",
    "contracts-primitives/std",
    "contracts-rpc/std",
    "frame-executive/std",
    "frame-support/std",
    "grandpa/std",
    "randomness-collective-flip/std",
    "serde",
    "sp-api/std",
    "sp-block-builder/std",
    "sp-consensus-aura/std",
    "sp-core/std",
    "sp-inherents/std",
    "sp-io/std",
    "sp-offchain/std",
    "sp-runtime/std",
    "sp-session/std",
    "sp-std/std",
    "sp-transaction-pool/std",
    "sp-version/std",
    "sudo/std",
    "system/std",
    "timestamp/std",
    "transaction-payment/std",
]

[dependencies]
aura = { version = "2.0.0-alpha.8", default-features = false, package = "pallet-aura"}
balances = { version = "2.0.0-alpha.8", default-features = false, package = "pallet-balances"}
contracts = { version = "2.0.0-alpha.8", default_features = false, package = "pallet-contracts" }
contracts-primitives = { version = "2.0.0-alpha.8", default_features = false, package = "pallet-contracts-primitives" }
contracts-rpc = { version = "0.8.0-alpha.8", default-features = false, package = "pallet-contracts-rpc-runtime-api" }
grandpa = { version = "2.0.0-alpha.8", default-features = false, package = "pallet-grandpa" }
randomness-collective-flip = { version = "2.0.0-alpha.8", default-features = false, package = "pallet-randomness-collective-flip" }
sudo = { version = "2.0.0-alpha.8", default-features = false, package = "pallet-sudo" }
system = { version = "2.0.0-alpha.8", default-features = false, package = "frame-system" }
timestamp = { version = "2.0.0-alpha.8", default-features = false, package = "pallet-timestamp" }
transaction-payment = { version = "2.0.0-alpha.8", default-features = false, package = "pallet-transaction-payment" }

codec = { default-features = false, features = ["derive"], package = "parity-scale-codec", version = "1.3.0" }
serde = { version = "1.0.101", features = ["derive"], optional = true }

frame-executive = { version = "2.0.0-alpha.8", default-features = false }
frame-support = { version = "2.0.0-alpha.8", default-features = false }
sp-api = { version = "2.0.0-alpha.8", default-features = false }
sp-block-builder = { version = "2.0.0-alpha.8", default-features = false }
sp-consensus-aura = { version = "0.8.0-alpha.8", default-features = false }
sp-core = { version = "2.0.0-alpha.8", default-features = false }
sp-inherents = { version = "2.0.0-alpha.8", default-features = false }
sp-io = { version = "2.0.0-alpha.8", default-features = false }
sp-offchain = { version = "2.0.0-alpha.8", default-features = false }
sp-runtime = { version = "2.0.0-alpha.8", default-features = false }
sp-session = { version = "2.0.0-alpha.8", default-features = false }
sp-std = { version = "2.0.0-alpha.8", default-features = false }
sp-transaction-pool = { version = "2.0.0-alpha.8", default-features = false }
sp-version = { version = "2.0.0-alpha.8", default-features = false }

[build-dependencies.wasm-builder-runner]
package = "substrate-wasm-builder-runner"
version = "1.0.5"
