[package]
name = "paracon-runtime"
version = "0.1.0"
authors = ["Paracon"]
edition = "2018"

[dependencies]
aura = { version = "2.0.0-alpha.2", default-features = false, package = "pallet-aura" }
balances = { version = "2.0.0-alpha.2", default-features = false, package = "pallet-balances" }
frame-support = { version = "2.0.0-alpha.2", default-features = false }
grandpa = { version = "2.0.0-alpha.2", default-features = false, package = "pallet-grandpa" }
indices = { version = "2.0.0-alpha.2", default-features = false, package = "pallet-indices" }
randomness-collective-flip = { version = "2.0.0-alpha.2", default-features = false, package = "pallet-randomness-collective-flip" }
sudo = { version = "2.0.0-alpha.2", default-features = false, package = "pallet-sudo" }
system = { version = "2.0.0-alpha.2", default-features = false, package = "frame-system" }
timestamp = { version = "2.0.0-alpha.2", default-features = false, package = "pallet-timestamp" }
transaction-payment = { version = "2.0.0-alpha.2", default-features = false, package = "pallet-transaction-payment" }

codec = { package = "parity-scale-codec", version = "1.0.0", default-features = false, features = ["derive"] }
frame-executive = { version = "2.0.0-alpha.2", default-features = false }
serde = { version = "1.0.101", optional = true, features = ["derive"] }
sp-api = { version = "2.0.0-alpha.2", default-features = false }
sp-block-builder = { version = "2.0.0-alpha.2", default-features = false}
sp-consensus-aura = { version = "0.8.0-alpha.2", default-features = false }
sp-core = { version = "2.0.0-alpha.2", default-features = false }
sp-inherents = { version = "2.0.0-alpha.2", default-features = false}
sp-io = { version = "2.0.0-alpha.2", default-features = false }
sp-offchain = { version = "2.0.0-alpha.2", default-features = false }
sp-runtime = { version = "2.0.0-alpha.2", default-features = false }
sp-session = { version = "2.0.0-alpha.2", default-features = false }
sp-std = { version = "2.0.0-alpha.2", default-features = false }
sp-transaction-pool = { version = "2.0.0-alpha.2", default-features = false }
sp-version = { version = "2.0.0-alpha.2", default-features = false }
pallet-contracts-primitives = { version = "2.0.0-alpha.2", default-features = false }

contracts = { package = "pallet-contracts",version = "2.0.0-alpha.2", default-features = false }
contracts-rpc = { package = "pallet-contracts-rpc-runtime-api", version = "0.8.0-alpha.2", default-features = false }

[build-dependencies]
wasm-builder-runner = { version = "1.0.4", package = "substrate-wasm-builder-runner" }

[features]
default = ["std"]
std = [
	"aura/std",
	"balances/std",
	"codec/std",
	"frame-executive/std",
	"frame-support/std",
	"grandpa/std",
	"indices/std",
	"randomness-collective-flip/std",
	"serde",
	"sp-api/std",
	"sp-block-builder/std",
	"sp-consensus-aura/std",
	"sp-core/std",
	"sp-inherents/std",
	"sp-io/std",
	"sp-offchain/std",
	"sp-runtime/std",
	"sp-session/std",
	"sp-std/std",
	"sp-transaction-pool/std",
	"sp-version/std",
	"sudo/std",
	"system/std",
	"timestamp/std",
	"transaction-payment/std",
	"contracts/std",
	"contracts-rpc/std",
	"pallet-contracts-primitives/std",
]
